body {
    background-color: #FFF8E7;
    font-family: Arial;
    text-align: center;
    margin: 0;
    padding: 15px;
}

h1 {
    color: brown;
    margin: 5px;
}

h2 {
    color: darkgreen;
    margin: 10px;
}

#search {
    padding: 8px;
    width: 220px;
    margin: 15px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* 3 items in each row */
.menu {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

/* Smaller menu boxes */
.item {
    background-color: white;
    border: 2px solid brown;
    border-radius: 6px;
    padding: 9px;
    box-sizing: border-box;
}

/* Smaller images - full image visible */
.item img {
    width: 80%;
    height: 100px;
    object-fit: contain;
    border-radius: 6px;
    display: block;
    background-color: #f5f5f5;
}

/* Item name */
.item h3 {
    color: orange;
    font-size: 18px;
    margin: 10px 0 5px;
}

/* Price */
.item p {
    font-size: 14px;
    margin: 8px;
}

/* Button */
button {
    background-color: brown;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

/* Cart */
#cart {
    margin: 18px;
    font-size: 20px;
}
